<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>870483081074-blulovduuoussltcn88ldsel83uh2ns6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.870483081074-blulovduuoussltcn88ldsel83uh2ns6</string>
	<key>API_KEY</key>
	<string>AIzaSyBkUoI56mxAnD8k9tiIb9at7XYRFTiI6lU</string>
	<key>GCM_SENDER_ID</key>
	<string>870483081074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>develop.app.hometech</string>
	<key>PROJECT_ID</key>
	<string>hometech-a45da</string>
	<key>STORAGE_BUCKET</key>
	<string>hometech-a45da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870483081074:ios:1ace114ef5ab317e510feb</string>
</dict>
</plist>